Chapter1/_pycache_
Chapter2/_pycache_
Chapter3/_pycache_
Chapter4/_pycache_
Chapter6/_pycache_
__pycache__
sakila_data.sql
hightemp.txt 
Chapter3/jawiki-country.json
Chapter4/mecab-ipadic-neologd
Chapter4/neko.txt
Chapter4/neko.txt.mecab
Chapter6/nlp.txt


